{% extends 'base.html' %}
{% load static %} <!-- Add this line to load the static tag library -->

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <div class="intro-section">
        <h1>Welcome to My Website</h1>
        <p>
            Hi, I’m making the leap from a career in construction to the exciting 
            world of information technology. My passion for building and creating 
            first drew me to construction, where I mastered project management, 
            troubleshooting, and precise attention to detail. Now I’m channeling 
            that same drive into tech—focusing on networking, software, systems administration, 
            and IT support to help build reliable, secure digital infrastructure 
            the way I once improved physical spaces. It’s a big shift, but it feels 
            like the natural next step.
        </p>
        <img src="{% static 'images/photo1.jpg' %}" alt="Photo of me" class="intro-section img">
    </div>
</div>
{% endblock %}